.hamburger-icon{
  display:none;
}

.hamburger-icon-container{
  display:none;
}

.header{

  background-color: var(--main-color);
  
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3%;

  position: fixed;
  height: 10vh;
  top: 1%;
  left: 1%;
  width: 98%;

  border-bottom: black solid 1px;
  border-top: black solid 1px;

  z-index: 100;
}

.main-icon{
  width: 9vh;
}

#h1-home{
  display: none;
}

.header-buttons{
  text-decoration: none;
  color: var(--main-text-color);
  margin: 0;
  padding: 0;
}

h1{
  font-family: var(--h1-font);
  min-width: fit-content;
  font-size: 2.5rem;
}

.header-buttons{
  font-weight: bold;
  letter-spacing: 1px;
}

.header-buttons:hover {
  color: var(--hover-button-color);
  transform: scale(1.15);
}

#home-button{
  color: var(--home-button);
}

#home-button:hover{
  color: var(--hover-button-color);
}


@media (max-width: 900px){
  h1{
    font-size: 2rem;
  }

  .header-buttons{
    font-size: 0.8rem;
  }
}

@media (max-width: 700px){
  h1{
    display:none;
  }

  #h1-home{
    display: inline-block;
    font-size: 1.5rem;
    font-family: var(--h1-font);
    font-weight: bold;
    text-decoration: none;
    color: var(--main-text-color);
  }

  #h1-home:hover{
    color: var(--hover-button-color);
    transform: scale(1.15);
  }

  .header-buttons{
    display:none;
  }

  .hamburger-icon-container{
    display: inline-block;
    width: 8vh;
    order: -1;
  }

  .hamburger-icon{
    padding-top: 6%;
    display: inline-block;
    width: 100%;
  }

  .hamburger-icon-container:hover{
    transform: scale(1.15);
  }

  .main-icon{
    order: 10;
  }

  .header{
    justify-content: space-evenly;
    gap: 15%;
  }
}