* {
  box-sizing: border-box;
}

.navbar {
  background-color: var(--main-color);
  display: flex;
  height: 10vh;
  justify-content: space-around;
  position: fixed;
  top: 1%;
  left: 1%;
  width: 98%;
  align-items: center;
  border-top: 1px black solid;
  border-bottom: 1px black solid;
  z-index: 100;
}

.brand-icon {
  height: 8vh;
}

.brand-title {
  font-family: var(--h1-font);
  min-width: fit-content;
  font-size: 4.5vh;
  font-weight: bold;
}

#title-a {
  text-decoration: none;
  color: var(--main-text-color);
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none; 
}

.navbar-links li a {
  text-decoration: none;
  color: var(--main-text-color);
  font-weight: bold;
  padding: 3rem;
  display: block;
}

#home-button {
  color: var(--home-button);
}

#home-button:hover {
  color: var(--hover-button-color);
}

.navbar-links a:hover {
  color: var(--hover-button-color);
  transform: scale(1.15);
}

#toggle {
  display: none;
}

.toggle-button {
  display: none;
}

@media (max-width: 1230px) {
  .navbar-links li a {
    font-size: 0.8rem;
    padding: 2rem;
  }

  .brand-title{
    font-size: 2rem;
  }
}

@media (max-width: 980px) {
  .navbar-links li a {
    font-size: 0.8rem;
    padding: 1rem;
  }
}

@media (max-width: 900px) {

  .brand-title{
    font-size: 1.5rem;
  }

  .navbar-links li a {
    font-size: 0.8rem;
    padding: 1rem;
  }
}

@media (max-width: 800px) {
  .toggle-button{
    display: inline-block;
  }

  #toggle-image{
    height: 8vh;
    padding-top: 5%;
  }

  #toggle-image:hover {
    transform: scale(1.15);
  }

  .navbar-links {
    display: none;
  }

  #toggle{
    display:none;
    position: relative;
    margin-top: 11vh;
    border-bottom: black solid 1px;
  }

  #toggle.active{
    display: flex;
  }

  #toggle ul {
    width: 100%;
    flex-direction: column;
  }

  #toggle li {
    text-align: center;
  }

  #toggle li a {
    padding: 0.5rem 1rem;
    margin: 0;
    font-size: 1rem;
  }

  
}
