:root {
  /* main fonts */
  --main-text-color: black;
  --main-font: 'Open Sans', sans-serif;
  --h1-font: 'Amatic SC', cursive;
  --main-color: #F9F5E7;
  --home-button: #a17d60;
  --hover-button-color: #3d5e30;
}

html {
  font-family: var(--main-font);
  color: var(--main-text-color);
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--main-color);
}

.main-grid-container {
  display: grid;
  background-color: var(--main-color);
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-top: 20vh;
  z-index: 10;
  position: relative;
  width: 99%;
  left: 0.5%;
}

.border-line {
  border-top: black solid 1px;
}

.main-page-img {
  height: 80%;
  border-radius: 0.5%;
}

.image-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.text-cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-cell:last-child {
  border-bottom: 0;
}

.container-content {
  max-width: 50%;
  align-items: center;
}

h2 {
  align-self: center;
  color: var(--home-button);
  font-family: var(--h1-font);
  font-size: 3rem;
  margin: 0;
  padding: 0;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 1%;
  margin-top: 8vh;
  padding-bottom: 1%;
  margin-left: 0.5%;
  width: 99%;
  height: 80px;
}

.footer-a {
  text-decoration: none;
  color: black;
}

.footer-a:hover {
  color: var(--home-button);
  transform: scale(1.15);
}

@media (max-width: 1200px) {
  .image-cell {
    height: 50vh;
  }
}

@media (max-width: 900px) {
  .main-grid-container {
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 1fr;
  }

  #second-image {
    grid-row-start: 3;
  }

  p {
    margin: 0;
  }

  .container-content {
    max-width: 60%;
    align-items: center;
  }
}

@media (max-width: 700px) {
  .main-grid-container {
    margin-top: 20vh;
    gap: 0;
  }

  .container-content {
    max-width: 80%;
    align-items: center;
  }

  .footer {
    flex-direction: column;
  }

  .image-cell {
    height: 40vh;
  }
}

.main-container {
  margin-top: 20vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto 10px auto auto;
  gap: 40px;
  z-index: 10;
  position: relative;
  width: 99%;
  left: 0.5%;
}

.food-image-cell {
  display: flex;
  flex-direction: column;
  grid-column-start: 1;
  grid-column-end: 3;
  justify-content: space-between;
  align-items: center;
  height: 70vh;
}

.food-image {
  height: 80%;
  border-radius: 0.5%;
}

.ingredients-cell {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: left;
  margin-left: 50%;
  margin-top: 10vh;
}

.tab-container {
  display: flex;
  padding: 0;
  min-width: 26rem;
  min-height: 5rem;
  text-align: left;
}

.portions {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-block: 5px;
  border-bottom: black solid 1px;
}

.portions button {
  margin-top: 5px;
  height: 30px;
  width: 25%;
  border: none;
  background-color: transparent;
  font-family: var(--main-font);
  cursor: pointer;
  border-radius: 10%;
  border-top: rgb(204, 204, 204) solid 0.5px;
  border-bottom: rgb(204, 204, 204) solid 0.5px;
}

.portions button:hover {
  box-shadow: 2px 2px grey;
}

.portions button:active {
  box-shadow: 2px 2px 4px black;
}

.portions p {
  margin: 0;
}

table th {
  min-width: 12.5rem;
  max-width: 12.5rem;
  font-family: var(--main-font);
  font-weight: normal;
  padding: 0;
  padding-top: 1.5%;
  margin: 0;
}

#ingredients {
  width: 100%;
  border-bottom: black solid 1px;
}

#recipe-header {
  width: 100%;
}

.recipe-cell {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: left;
  margin-top: 10vh;
}

.error-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 75vh;
}

@media (max-width: 900px) {
  h2 {
    font-size: 2rem;
  }

  .main-container {
    margin-top: 20vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
  }

  .food-image-cell {
    grid-column-start: 1;
    grid-column-end: 1;
  }

  .ingredients-cell {
    margin-left: 0;
  }

  #ingredients {
    text-align: center;
  }

  .recipe-cell {
    margin-top: 0;
  }

  #recipe-header {
    text-align: center;
  }

  .tab-container {
    min-width: 20rem;
  }

  table th {
    min-width: 9.5rem;
    max-width: 9.5rem;
  }
}

@media (max-width: 600px) {
  .food-image-cell {
    height: 50vh;
  }

  .food-image {
    height: 60%;
  }
}

* {
  box-sizing: border-box;
}

.navbar {
  background-color: var(--main-color);
  display: flex;
  height: 10vh;
  justify-content: space-around;
  position: fixed;
  top: 1%;
  left: 1%;
  width: 98%;
  align-items: center;
  border-top: 1px black solid;
  border-bottom: 1px black solid;
  z-index: 100;
}

.brand-icon {
  height: 8vh;
}

.brand-title {
  font-family: var(--h1-font);
  min-width: fit-content;
  font-size: 4.5vh;
  font-weight: bold;
}

#title-a {
  text-decoration: none;
  color: var(--main-text-color);
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: var(--main-text-color);
  font-weight: bold;
  padding: 3rem;
  display: block;
}

#home-button {
  color: var(--home-button);
}

#home-button:hover {
  color: var(--hover-button-color);
}

.navbar-links a:hover {
  color: var(--hover-button-color);
  transform: scale(1.15);
}

#toggle {
  display: none;
}

.toggle-button {
  display: none;
}

@media (max-width: 1230px) {
  .navbar-links li a {
    font-size: 0.8rem;
    padding: 2rem;
  }

  .brand-title {
    font-size: 2rem;
  }
}

@media (max-width: 980px) {
  .navbar-links li a {
    font-size: 0.8rem;
    padding: 1rem;
  }
}

@media (max-width: 900px) {
  .brand-title {
    font-size: 1.5rem;
  }

  .navbar-links li a {
    font-size: 0.8rem;
    padding: 1rem;
  }
}

@media (max-width: 800px) {
  .toggle-button {
    display: inline-block;
  }

  #toggle-image {
    height: 8vh;
    padding-top: 5%;
  }

  #toggle-image:hover {
    transform: scale(1.15);
  }

  .navbar-links {
    display: none;
  }

  #toggle {
    display: none;
    position: relative;
    margin-top: 11vh;
    border-bottom: black solid 1px;
  }

  #toggle.active {
    display: flex;
  }

  #toggle ul {
    width: 100%;
    flex-direction: column;
  }

  #toggle li {
    text-align: center;
  }

  #toggle li a {
    padding: 0.5rem 1rem;
    margin: 0;
    font-size: 1rem;
  }
}

.food-type-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 15vh;
  height: 100vh;
  z-index: 10;
  position: relative;
  width: 99%;
  left: 0.5%;
}

.cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.h2-cell {
  grid-column: 1;
  grid-column-end: 3;
  height: 10vh;
}

.food-type-image {
  height: 80%;
}

.food-type-cell {
  justify-content: start;
}

.recipes-list {
  justify-content: start;
  padding-top: 3%;
}

#recipes-list > ul > li {
  padding-bottom: 12px;
  cursor: pointer;
}

#recipes-list > ul > li:hover {
  color: var(--hover-button-color);
  box-shadow: 2px 2px 4px grey;
}

.food-type-container ul,
.food-type-container ul li {
  font-family: var(--h1-font);
  font-size: 2rem;
  font-weight: bold;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 2rem;
}

@media (max-width: 900px) {
  .food-type-container {
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    height: 100%;
  }

  .h2-cell {
    grid-column-start: 1;
    grid-column-end: 1;
  }

  h2 {
    font-size: 2rem;
  }

  .food-type-container ul,
  .food-type-container ul li {
    font-family: var(--h1-font);
    font-size: 1.5rem;
    font-weight: bold;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 4rem;
  }
}

@media (max-width: 600px) {
  .food-type-image {
    height: 60%;
  }
}

@media (max-height: 500px) {
  .food-type-container ul,
  .food-type-container ul li {
    padding-bottom: 2rem;
  }
}

@media (max-height: 350px) {
  .food-type-container ul,
  .food-type-container ul li {
    padding-bottom: 1rem;
  }

  .footer {
    margin-top: 15%;
  }
}

.arrow-container {
  grid-column: 1 / -1;
  width: 100%;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.glowing-arrow {
  cursor: pointer;
  font-size: 2rem;
  color: #a17d60;
  font-weight: bold;
  animation: glow 1.5s infinite, pulse 1.5s infinite;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 5px #a17d60;
  }
  50% {
    text-shadow: 0 0 20px #a17d60;
  }
  100% {
    text-shadow: 0 0 5px #a17d60;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.navigation-arrows {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 0;
}

.navigation-arrows a {
  background-color: transparent;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
  color: var(--main-text-color);
  font-family: var(--h1-font);
  font-size: 2rem;
  font-weight: bold;
}

.navigation-arrows a:hover {
  color: var(--hover-button-color);
  box-shadow: 2px 2px 4px grey;
}

.navigation-arrows a#prev-arrow {
  text-align: left;
  margin-right: auto; /* Move closer to the center */
}

.navigation-arrows a#next-arrow {
  text-align: right;
  margin-left: auto; /* Move closer to the center */
}

.navigation-arrows button {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px 20px;
  cursor: pointer;
}

.navigation-arrows button:hover {
  background-color: #e0e0e0;
}
