:root{
  /* main fonts */
  --main-text-color: black;
  --main-font: 'Open Sans', sans-serif;
  --h1-font: 'Amatic SC', cursive;
  --main-color: #F9F5E7;
  --home-button: #a17d60;
  --hover-button-color: #3d5e30;
}


html{
  font-family: var(--main-font);
  color: var(--main-text-color);
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--main-color);
}


.main-grid-container{
  display: grid;
  background-color: var(--main-color);;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-top: 20vh;
  z-index: 10;
  position: relative;
  width: 99%;
  left: 0.5%;
}

.border-line{
  border-top: black solid 1px;
}

.main-page-img{
  height: 80%
}

.image-cell{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;

}

.text-cell{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

.text-cell:last-child{
  border-bottom: 0;
}

.container-content{
  max-width: 50%;
  align-items: center;
}

h2{
  align-self: center;
  color: var(--home-button);
  font-family: var(--h1-font);
  font-size: 3rem;
  margin: 0;
  padding: 0;
}

.footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 1%;
  margin-top: 8vh;
  padding-bottom: 1%;
  margin-left: 0.5%;
  width: 99%;
  height: 4rem;
}

.footer-a{
  text-decoration: none;
  color: black;
}

.footer-a:hover{
  color: var((--home-button));
  transform: scale(1.15);
}

@media  (max-width: 1200px) {
  .image-cell{
    height: 50vh;
  }
}

@media  (max-width: 900px) { 

  .main-grid-container{
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 1fr;
  }

  #second-image{
    grid-row-start: 3;
  }

  p{
    margin: 0;
  }

  .container-content{
    max-width: 60%;
    align-items: center;
  }

}



@media (max-width: 700px) {

  .main-grid-container{
    margin-top: 20vh;
    gap: 0;
  }

  .footer {
    flex-direction: column;
  }

  .container-content{
    max-width: 60%;
    align-items: center;
  }

}