<nav class="navbar">

    <div class="brand-icon">
        <img class="brand-icon" src="assets/icons/main_icon.png" alt="cook icon">
    </div>

    <div class="brand-title">
        Cookbook de Bel-Ami
    </div>

    <a href="#" class="toggle-button">
        <img id="toggle-image" src="assets/icons/wooden-spoons-icon.png" alt="toggle button">
    </a>

    <div class="navbar-links">
      
        <ul>
            <li><a id="home-button" href="index.html">HOME</a></li>
            <li><a href="appetizers.html">PŘEDKRMY</a></li>
            <li><a href="main_dish.html">HLAVNÍ CHODY</a></li>
            <li><a href="desserts.html">DEZERTY</a></li>
            <li><a href="#">VZOROVÁ MENU</a></li>
        </ul>

    </div>

</nav>

<div class="navbar-links" id="toggle">
      
    <ul>
        <li><a id="home-button" href="index.html">HOME</a></li>
        <li><a href="appetizers.html">PŘEDKRMY</a></li>
        <li><a href="main_dish.html">HLAVNÍ CHODY</a></li>
        <li><a href="desserts.html">DEZERTY</a></li>
        <li><a href="#">VZOROVÁ MENU</a></li>
    </ul>

</div>